*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Home{
    background: #020710;
    background-image: url(bg.png); 
    background-size: cover ;
    min-height: 100vh;
    overflow: hidden;
}

header{
    width: 100%;
}

.Header-conatiner{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.logo h2{
    font-family: inter;
    font-size: 30px;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}

nav ul li a{
    font-family: inter;
    font-weight: 500;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
    color: #31AB84;
}

menu{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.button button{
    padding: 8px 25px;
    background: none;
    border: 0.8px solid white;
    border-radius: 40px;
    color: white;
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.button button:hover{
    background: white;
    color: black;
}

.Hero{
    margin-bottom: 40px
    ;
}

.Hero-container{
    padding-top: 120px;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid #373D44;
}

.Hero-content{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    gap: 2rem;
}

.Hero-content-right{
    /* width: 48%; */
    position: relative;
}

.Hero-content-right .photo{
    /* max-width: 100%; */
    width: 650px;
    /* height: auto; */
    position: relative;
    z-index: 2;
    display: block;
}

.Hero-content-left h4{
    font-family: inter; 
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #89FF00;
    padding-bottom: 20px;
}

.Hero-content-left h2{
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 74px;
    font-weight: 800;
    line-height: 1.2;
    padding-bottom: 22px;
}

.Hero-content-left p{
    color: 
    #989DA0;
    font-family: inter;
    font-size: 18px;
    line-height: 1.6;
    padding-right: 70px;
    padding-bottom: 35px;
}

.Hero-content-left button{
    padding: 15px 25px;
    background: #89FF00;
    border-radius: 50px;
    font-family: inter;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    margin-bottom: 70px;
    transition: 0.3s ease-in-out;
}

.Hero-content-left button:hover{
    background: white;
    color: black;
}

.Hero-Tag{
    display: flex;
    align-items: center;
    gap: 5rem
}

.Hero-Tag-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Hero-Tag-left img{
    width: 65px;
}

.Hero-Tag-left-content{
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.Hero-Tag-left-content h4{
    font-family: space Mono;
    font-size: 40px;
    color: white;
}

.Hero-Tag-left-content span{
    color: #989DA0;
    text-transform: uppercase;
    font-family: inter;
    font-weight: 600;
    font-size: 14px;
}

.Hero-Tag-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Hero-Tag-right img{
    width: 65px;
}

.Hero-Tag-right-content{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

.Hero-Tag-right-content h4{
    font-family: space Mono;
    font-size: 40px;
    color: white;
}

.Hero-Tag-right-content span{
    color: #989DA0;
    text-transform: uppercase;
    font-family: inter;
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 1px; */
}

.bg-line img{
    display: block;
    position: absolute;
    top: 280px;
    right: -50px;
    width: 450px;
    z-index: 1;
}


.cricle img{
    position: absolute;
    top: -70px;
    right: 80px;
    width: 100px;
    transform: translate(50%, 50%);
    animation: animate 8.5s infinite linear;
}

@keyframes animate{
    0%{
        transform: translate(50%, 50%) rotate(0deg);
    }

    90%{
        transform: translate(50%, 50%) rotate(360deg);
    }
}

/* ***<<< desktop-brakepoint >>>*** */

@media(max-width: 1260px){

    .Hero-content-right .photo{
        width: 600px;
    }

    .Hero-content-left h4{
        font-family: 12px;
    }

    .Hero-content-left h2{
        font-size: 65px;
    }

    .Hero-content-left p{
        font-size: 16px;
    }
    
    .Hero-Tag{
        gap: 3rem;
    }

    .Hero-Tag-left img{
        width: 55px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 30px;
    }

    .Hero-Tag-left-content span{
        font-size: 14px;
    }

    .Hero-Tag-right img{
        width: 55px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 30px;
    }

    .Hero-Tag-right-content span{
        font-size: 14px;
    }

}

@media(max-width: 1150px){
    .Hero-content-right .photo{
        width: 560px;
    }

    .Hero-content-left h2{
        font-size: 50px;
    }

    .Hero-content-left p{
        font-size: 15px;
    }
    
    .Hero-Tag{
        gap: 2rem;
    }

    .Hero-Tag-left img{
        width: 50px;
    }

    .Hero-Tag-left-content{
        line-height: 12px;
    }

    .Hero-Tag-left-content h4{
        font-size: 25px;
    }

    .Hero-Tag-left-content span{
        font-size: 13px;
    }

    .Hero-Tag-right img{
        width: 50px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 25px;
    }

    .Hero-Tag-right-content span{
        font-size: 13px;
    }
}

/* ***<<< Tablet >>>*** */

@media (max-width:1025px) and (min-width:600px){
    
    nav{
        justify-content: center;
    }

    .menu-area{
        display: none;
    }

    .Hero-container{
        padding-top: 100px;
    }
 
    .Hero-content{
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }


    .Hero-content-left{
        text-align: center;
        margin-bottom: 50px;
    }

    .Hero-content-right{
        display: flex;
        justify-content: center;
        position: relative;
    }

    .cricle{
        display: flex;
        justify-content: center;
    }

    .cricle img{
        right: 250px;
        top: 20px;
        display: flex;
        justify-content: center;
    }

    .bg-line img{
        width: 65%;
    }

    .Hero-content-left h4{
        font-size: 16px;
    }

    .Hero-content-left h2{
        font-size: 62px;
        padding: 0 40px; 
        padding-bottom: 25px;
    }
    
    .Hero-content-left p{
        font-size: 19px;
        padding: 0 100px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 15px 30px;
    }

    .Hero-Tag{
        justify-content: center;
        gap: 5rem;
    }

    .Hero-Tag-left{
        gap: 1rem;
    }

    .Hero-Tag-left img{
        width: 65px;
    }

    .Hero-Tag-left-content h4{
        font-size: 40px;
    }

    .Hero-Tag-right{
        gap: 1rem;
    }

    .Hero-Tag-right img{
        width: 65px;
    }

    .Hero-Tag-right-content h4{
        font-size: 40px;
    }
}

/* ***<<< Mobile >>>*** */

@media (max-width:599px) {

    nav{
        justify-content: center;
    }

    .menu-area{
        display: none;
    }

    .Hero-container{
        padding-top: 60px;
    }
 
    .Hero-content{
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }


    .Hero-content-left{
        text-align: center;
        margin-bottom: 30px;
    }

    .Hero-content-right{
        display: flex;
        justify-content: center;
        position: relative;
    }

    .Hero-content-right .photo{
        width: 450px;
    }

    .cricle{
        display: flex;
        justify-content: center;
    }

    .cricle img{
        width: 90px;
        right: 130px;
        top: -60px;
        display: flex;
        justify-content: center;
    }

    .bg-line img{
        /* display: none; */
        /* width: 450px; */
        width: 65%;
    }

    .Hero-content-left h4{
        font-size: 17px;
        letter-spacing: 3px;
    }

    .Hero-content-left h2{
        font-size: 50px;
        padding: 0 20px;
        padding-bottom: 20px;
    }
    
    .Hero-content-left p{
        padding: 0 80px;
        font-size: 18px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 15px 30px;
        margin-bottom: 40px;
    }

    .Hero-Tag{
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .Hero-Tag-left{
        flex-direction: column;
        gap: 1.5rem;
    }

    .Hero-Tag-left img{
        width: 62px;
    }

    .Hero-Tag-left-content{
        line-height: 20px;
    }

    .Hero-Tag-left-content h4{
        font-size: 40px;
    }

    .Hero-Tag-left-content span{
        font-size: 15px;
    }

    .Hero-Tag-right{
        flex-direction: column;
        gap: 1.5rem;
    }

    .Hero-Tag-right img{
        width: 62px;
    }

    .Hero-Tag-right-content{
        line-height: 20px;
    }

    .Hero-Tag-right-content h4{
        font-size: 40px;
    }

    .Hero-Tag-right-content span{
        font-size: 15px;
    }


}

/* ***<<< Mobile-brakepoints >>>*** */

@media (max-width:470px) {

    .Hero-content-left h4{
        font-size: 15px;
    }

    .Hero-content-left h2{
        font-size: 42px;
    }

    .Hero-content-left p{
        font-size: 14px;
    }

    .Hero-content-left button{
        padding: 10px 20px;
        font-size: 15px;
    }

    .Hero-Tag-left img{
        width: 50px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 30px;
    }

    .Hero-Tag-left-content span{
        font-size: 12px;
    }

    .Hero-Tag-right img{
        width: 50px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 30px;
    }

    .Hero-Tag-right-content span{
        font-size: 12px;
    }
    

    .cricle img{
        top: -80px;
        right: 80px;
        width: 85px;
    }

    .Hero-content-right .photo{
        width: 400px;
    }
}

@media (max-width:400px) {

    .Hero-content-left h4{
        font-size: 12px;
    }

    .Hero-content-left h2{
        font-size: 36px;
    }

    .Hero-content-left p{
        font-size: 14px;
        padding: 0 50px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 10px 20px;
        font-size: 15px;
    }

    .Hero-Tag-left img{
        width: 50px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 30px;
    }

    .Hero-Tag-left-content span{
        font-size: 12px;
    }

    .Hero-Tag-right img{
        width: 50px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 30px;
    }

    .Hero-Tag-right-content span{
        font-size: 12px;
    }
    

    .cricle img{
        top: -70px;
        right: 80px;
        width: 80px;
    }

    .bg-line img{
        width: 80%;
        top: 200px;
    }

    .Hero-content-right .photo{
        width: 300px;
    }
}